@import "tailwindcss";

:root {
  --background: #faf4b7;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background);
  border-left: 2px solid #111111;
}

::-webkit-scrollbar-thumb {
  background: #111111;
  border-radius: 4px;
}

body {
  background-color: var(--background);
  background-image: radial-gradient(#111111 1.2px, transparent 1.2px);
  background-size: 20px 20px;
  color: var(--foreground);
  font-family: var(--font-sans);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
