@import "tailwindcss";

:root {
  --background: #f7f048;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ::-webkit-scrollbar {
  width: 4px;
  display: block;
  background-color: var(--muted);
  border-left: 1px solid var(--border);
} */

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--muted);
  border-left: 4px solid black;
}

::-webkit-scrollbar-thumb {
  background: black;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
